<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-th-large"></span> Công cụ khác</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal col-md-12" role="form" name="grossForm" action="" method="post">
        <div id="extra-exchange" class="exchange-article">
            <h3 class="">Chuyển đổi ngoại tuệ</h3>
            <div class="form-group">
                <label class="col-md-3 control-label">Số tiền</label>
                <div class="col-md-9 input-group">
                    <input class="form-control currency" name="exchange_value" value="<%= exchange_value %>"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Chuyển từ</label>
                <div class="col-md-9 input-group">
                    <select class="form-control currency" name="exchange_from">
                        <option value="USD">USD</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">đến</label>
                <div class="col-md-9 input-group">
                    <select class="form-control currency" name="exchange_from">
                        <option value="VND">VND</option>
                    </select>
                </div>
            </div>
            <div class="pull-right">
                <label class="">Kết quả:</label>&nbsp;<label class="total">0</label>
            </div><div class="clearfix"></div>
            <div class="btn-group pull-right">
                <a id="calculateExchange" href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-play"></span> Tính toán</a>
            </div>
            <div class="clearfix"></div>
        </div>
      <div id="extra-pitrate" class="pitRate-article">
        <h3 class="">Tính tiền thuế TNCN</h3>
        <div class="form-group">
          <label class="col-md-3 control-label">Lương chịu thuế TNCN</label>
          <div class="col-md-9 input-group">
            <input class="form-control currency" name="salary_paid" type="text" value="<%= salary_paid %>"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào lương chịu thuế">?</span>
          </div>
        </div>
        <div class="pull-right">
          <label class="">Kết quả:</label>&nbsp;<label class="total">0</label>
          <div id="pitRateResult"></div>
        </div><div class="clearfix"></div>
        <div class="btn-group pull-right">
          <a id="calculatePITRate" href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-play"></span> Tính toán</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <hr/>
      <div id="extra-revert-pitrate" class="revertPitRate-article">
        <h3>Tính số tiền đóng Thuế TNCN</h3>
        <div class="form-group">
          <label class="col-md-3 control-label">Lương sau khi đóng thuế TNCN</label>
          <div class="col-md-9 input-group">
            <input class="form-control currency" name="pit_tax_paid" type="text" value="<%= pit_tax_paid %>"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào tiền lương nhận được sau khi đóng thuế TNCN(không tính số tiền giảm trừ cho bản thân và người phục thuộc)">?</span>
          </div>
        </div>
        <div class="pull-right">
          <label class="">Kết quả:</label>&nbsp;<label class="total">0</label>
        </div><div class="clearfix"></div>
        <div class="btn-group pull-right">
          <a id="calculateRevertPITRate" href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-play"></span> Tính toán</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <hr/>
      <div id="extra-pregnant" class="pregnant-article">
        <h3>Chế độ Thai sản</h3>
        <div class="form-group">
          <label class="col-md-3 control-label">Lương đóng BHXH</label>
          <div class="col-md-9 input-group">
            <span class="input-group-addon">VND</span>
            <input class="form-control number token-input" name="pregnant_salary_gross_average" type="text" value="<%= pregnant_salary_gross_average %>" placeholder="Input multiple values"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào 6 tháng lương đóng BHXH gần nhất.">?</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">%</label>
          <div class="col-md-9 input-group">
            <span class="input-group-addon">%</span>
            <input class="form-control currency" name="pregnant_percent" type="text" value="<%= pregnant_percent %>" placeholder="Percent"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào số % được nhận theo qui định hiện hành.">?</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Số Tháng</label>
          <div class="col-md-9 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            <input class="form-control numeric" name="pregnant_months" type="number" value="<%= pregnant_months %>" placeholder="Months"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào số tháng lương được nhận theo qui định hiện hành.">?</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Trợ cấp 1 lần sau khi sinh</label>
          <div class="col-md-9 input-group">
            <span class="input-group-addon">VND</span>
            <input class="form-control numeric" name="pregnant_subsidy" readonly="true" type="text" value="<%= pregnant_subsidy%>" placeholder="Months"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Bằng tiền lương cơ sở x 2.">?</span>
          </div>
        </div>
        <div class="pull-right">
          <label class="">Kết quả:</label>&nbsp;<label id="pregnantTotal" class="total">0</label>
        </div>
        <div class="clearfix"></div>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-success" id="pregnantCalculate"><span class="glyphicon glyphicon-play"></span>&nbsp;Tính toán</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <hr/>
      <div id="extra-unemployment" class="unemployment-article">
        <h3>Bảo hiểm Thất nghiệp</h3>
        <div class="form-group">
          <label class="col-md-3 control-label">Lương đóng BHXH</label>
          <div class="col-md-9 input-group">
            <span class="input-group-addon">VND</span>
            <input class="form-control number token-input" name="unemployment_salary_gross_average" type="text" value="<%= unemployment_salary_gross_average %>" placeholder="Input multiple values"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào 6 tháng lương đóng BHXH gần nhất.">?</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">%</label>
          <div class="col-md-9 input-group">
            <span class="input-group-addon">%</span>
            <input class="form-control numeric" name="unemployment_percent" type="text" value="<%= unemployment_percent %>" placeholder="Percent"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào số % được nhận theo qui định hiện hành.">?</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Số Tháng</label>
          <div class="col-md-9 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            <input class="form-control numeric" name="unemployment_months" type="text" value="<%= unemployment_months %>" placeholder="Months"/>
            <span class="input-group-addon" data-container="body" data-toggle="popover" data-placement="left" data-content="Nhập vào số tháng được hưởng trợ cấp thất nghiệp.">?</span>
          </div>
        </div>
        <div class="pull-right">
          <label class="">Kết quả:</label>&nbsp;<label id="pregnantTotal" class="total">0</label>
        </div>
        <div class="clearfix"></div>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-success" id="unemploymentCalculate"><span class="glyphicon glyphicon-play"></span>&nbsp;Tính toán</button>
        </div>
      </div>
    </form>
  </div>
</div>


