<td><%= title %></td>
<td class="text-right"><input type="text" class="currency" name="gross" value="<%= gross %>" size="8" maxlength="20"/></td>
<td class="text-right"><input type="text" class="currency" name="bonus" value="<%= bonus %>" size="8" maxlength="20"/></td>
<td class="text-right"><input type="text" class="currency" name="insurance_paid" value="<%= insurance_paid %>" size="10" maxlength="20"/></td>
<td class="text-right"><input type="text" class="currency" name="dependants" value="<%= dependants %>" size="4" maxlength="20"/></td>
<td class="text-right"><input type="text" class="currency" name="pit_paid" value="<%= pit_paid %>" size="8" maxlength="20"/></td>
<td class="text-right"><input type="text" class="currency" name="deduction_of_taxpayer" value="<%= deduction_of_taxpayer %>" size="8" maxlength="20"/></td>
<td class="text-right"><span class="income-paid-tax badge badge-success">0</span></td>
<td class="text-right"><span class="tax-pit badge badge-warning">0</span></td>